.landing-page {
  height: 100vh;
  background-color: #1e1f22;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.landing-page h1 {
  font-size: 32px;
}

.landing-title {
  margin-top: -100px;
  width: 500px;
  height: auto;
}

.subtitle {
  margin-top: 300px;
}

.landing-duck {
  opacity: 1;
  position: absolute;
  margin-top: 160px;
  width: 300px;
  height: auto;
}

.landing-page .button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #f3cb25;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
